.accent-color {
  color: tomato; }

.img-title-combo {
  display: flex;
  justify-content: center;
  align-items: center; }
  .img-title-combo h4 {
    margin-bottom: 0; }

.flower-size {
  width: 2rem;
  height: 2rem; }

.contUs-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 2px solid #327875; }

.contUs-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  padding: 20px 0; }

@media screen and (min-width: 450px) {
  .contUs-two p,
  .contUs-three p {
    font-size: 1.2em; } }
.main-container {
  max-width: 1020px;
  margin: 0 auto; }

header {
  margin: 0; }

.main-nav {
  background-color: #327875;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Candal', sans-serif;
  letter-spacing: 1px; }
  .main-nav li {
    list-style-type: none;
    display: inline-block; }
  .main-nav a {
    display: block;
    color: white;
    padding: 15px 20px; }
  .main-nav a:hover {
    color: #327875;
    background-color: white;
    text-decoration: none; }

@media screen and (min-width: 550px) {
  .main-nav {
    flex-direction: row;
    justify-content: space-around; }
    .main-nav a {
      padding: 15px 10px; } }
@media screen and (min-width: 700px) {
  .main-nav {
    justify-content: flex-end; }
    .main-nav a {
      font-size: 1.2em;
      padding: 20px 10px; }

  li:last-of-type {
    margin-right: 20px; } }
.opening {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 2px solid #327875; }

.brand-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0; }
  .brand-div img {
    width: 50px;
    height: 50px; }
  .brand-div h1 {
    font-size: 1em;
    font-family: 'Candal', sans-serif; }

.contUs-one {
  padding: 20px 0; }
  .contUs-one h2 {
    font-size: 1em; }
  .contUs-one p {
    font-size: .9em; }
  .contUs-one p:last-of-type {
    margin-bottom: 0; }

@media screen and (min-width: 450px) {
  .brand-div {
    flex-direction: column; }
    .brand-div img {
      width: 100px;
      height: 100px; }
    .brand-div h1 {
      font-size: 1.5em; }

  .contUs-one h2 {
    font-size: 1.5em; }
  .contUs-one p {
    font-size: 1em; } }
@media screen and (min-width: 700px) {
  .opening {
    flex-direction: row;
    justify-content: space-around; }

  .brand-div img {
    width: 140px;
    height: 140px; }

  .contUs-one p:first-of-type {
    padding-top: 1em; }
  .contUs-one p {
    font-size: 1.1em; } }
@media screen and (min-width: 900px) {
  .brand-div h1 {
    font-size: 2em; }

  .contUs-one h2 {
    font-size: 2em; } }
.tagline {
  text-align: center;
  padding: 40px 0;
  margin: 0 20px;
  padding-bottom: 20px 0;
  border-bottom: 2px solid #327875; }
  .tagline h2 {
    font-size: 1em;
    margin-bottom: 20px; }
  .tagline img {
    width: 100%;
    max-width: 800px;
    padding: 0 20px; }

@media screen and (min-width: 450px) {
  .tagline h2 {
    font-size: 1.5em; } }
@media screen and (min-width: 900px) {
  .tagline h2 {
    font-size: 2em; } }
#home {
  display: flex;
  flex-direction: column;
  margin: 40px 20px 0;
  padding-bottom: 20px 0;
  border-bottom: 2px solid #327875; }
  #home .card {
    width: 100%; }

@media screen and (min-width: 700px) {
  #home {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    #home .card {
      flex-basis: 100%;
      max-width: 48%; }
    #home .card:first-child, #home .card:nth-of-type(2) {
      max-width: 100%; }
    #home .card:last-child {
      margin-left: 2%; } }
.team {
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 2px solid #327875; }

.team-members {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px; }

.custom-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 20px; }
  .custom-card h5 {
    padding-top: 10px; }

.profile-sz {
  width: 12em;
  height: 12em; }

@media screen and (min-width: 500px) {
  .team-members {
    grid-template-columns: 1fr 1fr; } }
@media screen and (min-width: 750px) {
  .team-members {
    grid-template-columns: 1fr 1fr 1fr; } }
#services {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 2px solid #327875; }
  #services ul {
    padding-top: 20px;
    padding-right: 20px; }

.offerings,
.accommodate,
.why {
  border-radius: 5px;
  background-color: #327875;
  border: 1px solid #000; }
  .offerings .img-title-combo,
  .accommodate .img-title-combo,
  .why .img-title-combo {
    padding: 20px 0;
    border-radius: 5px 5px 0 0;
    background-color: #f7f7f7; }
  .offerings ul,
  .accommodate ul,
  .why ul {
    color: #fff; }

@media screen and (min-width: 700px) {
  #services {
    grid-template-columns: 1fr 1fr; }
    #services ul {
      padding-right: 0; }

  .why {
    grid-column-start: 1;
    grid-column-end: 3; } }
#facility {
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 2px solid #327875; }

.facility-gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px; }
  .facility-gallery img {
    padding-top: 20px; }

@media screen and (min-width: 600px) {
  .facility-gallery {
    grid-template-columns: 1fr 1fr; } }
@media screen and (min-width: 800px) {
  .facility-gallery {
    grid-template-columns: 1fr 1fr 1fr; } }
#testimonials {
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 2px solid #327875; }
  #testimonials p {
    text-align: center;
    margin-bottom: 0;
    padding: 20px 0; }

.testimonials-gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px; }
  .testimonials-gallery img {
    padding-top: 20px; }

@media screen and (min-width: 700px) {
  .testimonials-gallery {
    grid-template-columns: 1fr 1fr; } }
.body-footer {
  background-color: #327875;
  color: white; }

/*# sourceMappingURL=styles.css.map */
