header {
  margin: 0; }

.main-nav {
  background-color: #327875;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  text-align: center; }
  .main-nav li {
    list-style-type: none;
    display: inline-block;
    font-size: 1em; }
  .main-nav a {
    display: block;
    color: white;
    padding: 10px 20px; }
  .main-nav a:hover {
    color: #327875;
    background-color: white;
    text-decoration: none; }

@media screen and (min-width: 450px) {
  .main-nav {
    flex-direction: row;
    justify-content: center; }
    .main-nav a {
      padding: 10px 10px; }
    .main-nav li:last-of-type {
      margin-right: 20px; } }
@media screen and (min-width: 600px) {
  .main-nav {
    justify-content: flex-end; } }
.opening {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 2px solid #327875; }

.brand-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0; }
  .brand-div img {
    width: 50px;
    height: 50px; }
  .brand-div h1 {
    font-size: 1em; }

.contUs {
  padding: 20px 0; }
  .contUs h2 {
    font-size: 1em; }
  .contUs p {
    font-size: .9em; }
  .contUs p:last-of-type {
    margin-bottom: 0; }

@media screen and (min-width: 450px) {
  .brand-div {
    flex-direction: column; }
    .brand-div img {
      width: 100px;
      height: 100px; }
    .brand-div h1 {
      font-size: 1.5em; }

  .contUs h2 {
    font-size: 1.5em; }
  .contUs p {
    font-size: 1em; } }
@media screen and (min-width: 700px) {
  .opening {
    flex-direction: row;
    justify-content: space-around; }

  .brand-div img {
    width: 140px;
    height: 140px; }

  .contUs p:first-of-type {
    padding-top: 1em; }
  .contUs p {
    font-size: 1.1em; } }
@media screen and (min-width: 900px) {
  .brand-div h1 {
    font-size: 2em; }

  .contUs h2 {
    font-size: 2em; } }
.tagline {
  text-align: center;
  margin: 40px 0; }
  .tagline h2 {
    font-size: 1em;
    margin-bottom: 20px; }
  .tagline img {
    width: 100%;
    max-width: 800px;
    padding: 0 20px; }

@media screen and (min-width: 450px) {
  .tagline h2 {
    font-size: 1.5em; } }
@media screen and (min-width: 900px) {
  .tagline h2 {
    font-size: 2em; } }
.main-container {
  max-width: 1020px;
  margin: 0 auto; }

.mission h2 {
  display: inline-block; }

#home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  #home .card {
    flex-basis: 500px;
    max-width: 20rem; }

.accent-color {
  color: tomato; }

.img-title-combo {
  display: flex;
  align-items: center; }

.flower-size {
  width: 2rem;
  height: 2rem; }

.profile-sz {
  width: 4em;
  height: 4em; }

.team {
  margin: 20px 0;
  padding: 20px 0 40px;
  border-bottom: 2px solid #327875; }

.img-title-combo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; }
  .img-title-combo h4 {
    margin-bottom: 0; }

#contact .contact-one {
  border-bottom: none; }

.body-footer {
  background-color: #327875;
  color: white; }

@media screen and (min-width: 450px) {
  .contact-one h2 {
    font-size: 1.5em; }
  .contact-one p {
    font-size: 1.2em; }

  #home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    #home .card {
      flex-basis: 55rem;
      max-width: 30rem; }
    #home .card:first-child {
      max-width: 100%; } }
@media screen and (min-width: 800px) {
  .contact-one h2 {
    font-size: 2em; } }

/*# sourceMappingURL=styles.css.map */
