
/* root *********************/
* {
  /*removes default margins*/
  margin: 0;
}

body {
  /*1.5 is standard line-height for most websites*/
  line-height: 1.5;

}

/* header *********************/

.body-div {
  text-align: center;
}

.main-header {
  background-image: url("assets/heroBW.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 540px;
}

.main-header p {
  padding-top: 100px;
  font-size: 2em;
  padding-bottom: 50px;
  color: white;
}

.main-header h1 {
  font-size: 4em;
  padding-top: 50px;
  color: white;
}

.main-icon {
  width: 200px;
}

/* main *********************/

.nav {
  padding-top: 30px;
  padding-bottom: 50px;
}

.nav li {
  display: inline-block;
  border-right: 1px solid black;
  padding-right: 8px;
  padding-left: 8px;
  /*padding: 5px;*/
}

.nav li:last-child {
  border-right: 0px;
}

/* links *********************/
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

a:link, a:visited {
  color: #002D4D;
}

a:hover {
  color: white;
  background-color: #002D4D;
}
