
.cute-rotate {
  transition: transform .5s cubic-bezier(.7,-0.39,.31,1.38);
}
.cute-rotate:hover {
  transform: rotate(-20deg);
}

.magnify {
  transition: transform .5s cubic-bezier(.7,-0.39,.31,1.38);
}
.magnify:hover {
  transform: scale(1.2);
}

.full-rotate {
  transition: transform .5s cubic-bezier(.7,-0.39,.31,1.38);
}
.full-rotate:hover {
  transform: rotate(360deg);
}
