
.brand-div {
  margin: 10px auto;
  img {
    width: 30px;
    height: 30px;
  }
  span {
    font-size: .8em;
  }
}

.contact {
  p {
    font-size: .7em;
  }
  button {
    width: 30%;
    margin: 0 auto;
  }
}

.mission {
  h2 {
    display: inline-block;
  }
}

.flower-size {
  width: 2rem;
  height: 2rem;
}

.profile-sz {
  width: 4em;
  height: 4em;
}
