
 // main Layout
.main-container {
  max-width: 1020px;
  margin: 0 auto;
}



// home -----------/

.mission {
  h2 {
    display: inline-block;
  }
}

#home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .card {
    flex-basis: 500px;
    max-width: 20rem;
  }
}

.accent-color {
  color: tomato;
}

.img-title-combo {
  display: flex;
  align-items: center;
}

.flower-size {
  width: 2rem;
  height: 2rem;
}

.profile-sz {
  width: 4em;
  height: 4em;
}

// team -------------/

.team {
  margin: 20px 0;
  padding: 20px 0 40px;
  border-bottom: 2px solid $color-primary;
}

.img-title-combo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  h4 {
    margin-bottom: 0;
  }
}

#contact .contact-one {
  border-bottom: none;
}

// footer -----------/

.body-footer {
  background-color: $color-primary;
  color: white;
}

@media screen and (min-width: 450px) {
  .contact-one {
    h2 {
      font-size: 1.5em;
    }
    p {
      font-size: 1.2em;
    }
  }

  #home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .card {
      flex-basis: 55rem;
      max-width: 30rem;
    }
    .card:first-child {
      max-width: 100%;
    }
    .team {

    }
  }
}

@media screen and (min-width: 800px) {
  .contact-one {
    h2 {
      font-size: 2em;
    }
  }
}
