
#facility {
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 2px solid $color-primary;
  h3 {
    font-family: 'Francois One', sans-serif;
  }
}

.facility-gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding-top: 20px;
}

@media screen and (min-width: 650px) {
  .facility-gallery {
    grid-template-columns: 1fr 1fr;
  }
}
