
// header ----------/

header {
  margin: 0;
}

.main-nav {
  background-color: $color-primary;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Candal', sans-serif;
  letter-spacing: 1px;
  li {
    list-style-type: none;
    display: inline-block;
  }
  a {
    display: block;
    color: white;
    padding: 15px 20px;
  }
  a:hover {
    color: $color-primary;
    background-color: white;
    text-decoration: none;
  }
}

@media screen and (min-width: 550px) {
  .main-nav {
    flex-direction: row;
    justify-content: space-around;
    a {
      padding: 15px 10px;
    }
  }
}

@media screen and (min-width: 700px) {
  .main-nav {
    justify-content: flex-end;
    a {
      font-size: 1.2em;
      padding: 20px 10px;
    }
  }
  li:last-of-type {
    margin-right: 20px;
  }
}
