

// team -------------/

.team {
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 2px solid $color-primary;
  h2 {
    margin: 0 1rem 1rem;
    font-family: 'Francois One', sans-serif;
  }
  img {
    margin-bottom: 1rem;
  }
}

.team-members {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.custom-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
  background-color: $color-primary;
  border-radius: 5px;
  color: #fff;
  h5 {
    padding-top: 10px;
  }
}

.profile-sz {
  width: 12em;
  height: 12em;
  border-radius: 50%;
  border: 5px solid #fff;
}

@media screen and (min-width: 500px) {
  .team-members {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 750px) {
  .team-members {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
